{% extends "home/base.html" %}

{% block content %}
	<h1> About us test page! </h1>
	<p style="text-indent:70px;">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed elementum nibh. Aenean ex nunc, elementum ac nunc id, luctus viverra tellus. In feugiat lacus nec quam dapibus tempor. Curabitur turpis augue, semper at lorem eget, vehicula accumsan arcu. Vivamus semper blandit urna eget porttitor. Nullam condimentum eleifend magna nec porta. Fusce at blandit eros. Sed ac enim dui. Pellentesque fringilla congue felis, a feugiat arcu interdum vitae. Vestibulum eu sollicitudin tortor, pulvinar laoreet quam. Quisque dolor enim, aliquet sit amet quam nec, dapibus suscipit diam. Ut facilisis dolor sit amet leo condimentum, eu auctor libero convallis. Sed lacinia posuere imperdiet. Aliquam non tristique ex, non iaculis dolor.
	</p>
	<p style="text-indent:70px;">
		Integer eleifend interdum ultrices. Etiam eu nisi posuere, semper dolor ut, cursus felis. Nunc nunc orci, hendrerit finibus lacinia in, finibus quis tellus. Etiam tellus nisi, tempor id pharetra non, lacinia luctus orci. Mauris lacinia aliquam posuere. Fusce ac accumsan orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi libero ex, tristique at leo ut, sodales mattis magna. Maecenas aliquet dapibus justo, sed condimentum nunc rhoncus eu. Vivamus quis nulla ligula. Sed vel ligula quam.
	</p>
{% endblock content %}